In [1]:
import pandas as pd
import numpy as np
import pylab as pl
import os 
import sys
import geopandas as gpd
from geopandas import GeoDataFrame
from shapely.geometry import Point
import scipy.stats as st
import statsmodels.formula.api as smf
from IPython.display import display, clear_output
from matplotlib.colors import ListedColormap
import time

%matplotlib inline

# Safety by School Data

In [2]:
SafetyQ12016 = pd.read_csv("https://www1.nyc.gov/assets/nypd/downloads/excel/school_safety/ssa-report-school-1q-2016.csv")
SafetyQ22016 = pd.read_csv("https://www1.nyc.gov/assets/nypd/downloads/excel/school_safety/2nd_qtr_2016_ssa_report_by_school_2016_09_28.csv")
SafetyQ32016 = pd.read_csv("https://www1.nyc.gov/assets/nypd/downloads/excel/school_safety/ssa-report-school-3q-2016.csv")
SafetyQ42016 = pd.read_csv("https://www1.nyc.gov/assets/nypd/downloads/excel/school_safety/ssa-report-school-4q-2016.csv")

SafetyQ12017 = pd.read_csv("https://www1.nyc.gov/assets/nypd/downloads/excel/school_safety/ssa-report-school-1q-2017.csv")
SafetyQ22017 = pd.read_csv("https://www1.nyc.gov/assets/nypd/downloads/excel/school_safety/ssa-report-school-2q-2017.csv")
SafetyQ32017 = pd.read_excel("https://www1.nyc.gov/assets/nypd/downloads/excel/school_safety/ssa-report-school-3q-2017.xlsx")

In [3]:
SafetyQ12017

,School Campus,Intervention Type,Incident Location,Greator Than 21,Scanning Type,Scanning Incident,School Related,School Hours,Enforcment By,Restraints,Force,Type Of Force,Top Charge,SummonsCharge,Classification
0,47 THE AMERICAN SIGN LANGUAGE & ENGLISH SECOND...,Child in Crisis,On-Site,No,Full-Time,N,Y,Y,NaN,No Restraints,N,None,NaN,NaN,NaN
1,Abraham Lincoln HS(BS),Arrested,Off-Site,No,Full-Time,N,N,N,PATROL,Metal,N,None,ROBBERY,NaN,F
2,Abraham Lincoln HS(BS),Arrested,Off-Site,No,Full-Time,N,N,N,PATROL,Metal,N,None,ROBBERY,NaN,F
3,Abraham Lincoln HS(BS),Arrested,Off-Site,Yes,Full-Time,N,N,N,PATROL,Metal,N,None,ASSAULT,NaN,M
4,Abraham Lincoln HS(BS),Arrested,Off-Site,No,Full-Time,N,N,Y,DB,No Restraints,N,None,ROBBERY,NaN,F
5,Abraham Lincoln HS(BS),Child in Crisis,On-Site,No,Full-Time,N,Y,Y,SSA,Metal,N,None,NaN,NaN,NaN
6,Abraham Lincoln HS(BS),Child in Crisis,On-Site,No,Full-Time,N,N,Y,NaN,No Restraints,N,None,NaN,NaN,NaN
7,Abraham Lincoln HS(BS),Juvenile Report,On-Site,No,Full-Time,Y,Y,Y,PATROL,No Restraints,N,None,NaN,NaN,Unk
8,Abraham Lincoln HS(BS),Mitigated,On-Site,No,Full-Time,N,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN
9,Abraham Lincoln HS(BS),PINS / Warrant,Off-Site,No,Full-Time,N,Y,Y,PATROL,No Restraints,N,None,NaN,NaN,NaN
10,Abraham Lincoln HS(BS),Summons,On-Site,No,Full-Time,N,Y,Y,PATROL,Metal,Y,Physical Force,NaN,DISCON: FIGHTING,V
11,Abraham Lincoln HS(BS),Summons,On-Site,No,Full-Time,N,Y,Y,PATROL,No Restraints,N,None,NaN,DISCON: OBSCENE LANGUAGE/GESTURE,V
12,Academy for College Preparation & Career Explo...,Child in Crisis,On-Site,No,Full-Time,N,Y,Y,NaN,No Restraints,N,None,NaN,NaN,NaN
13,Academy for Environmental Leadership(BN),Summons,On-Site,No,Full-Time,Y,Y,Y,PATROL,Metal,N,None,NaN,"MARIJUANA, POSSESSION OF",V
14,Academy for Environmental Leadership(BN),Summons,On-Site,No,Full-Time,Y,Y,Y,PATROL,No Restraints,N,None,NaN,"MARIJUANA, POSSESSION OF",V
15,ACADEMY FOR SCHOLARSHIP & ENTREPRENEURSHIP(XE),Child in Crisis,On-Site,No,Full-Time,N,Y,Y,NaN,No Restraints,N,None,NaN,NaN,NaN
16,ACADEMY FOR SCHOLARSHIP & ENTREPRENEURSHIP(XE),Juvenile Report,On-Site,No,Full-Time,Y,Y,Y,SSA,No Restraints,N,None,NaN,NaN,M
17,Academy for Young Writers(BN),Mitigated,On-Site,No,Non-Scanning,N,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN
18,Academy of Hospitality &Tourism(BS),Juvenile Report,On-Site,No,Full-Time,Y,Y,Y,PATROL,No Restraints,N,None,NaN,NaN,Unk
19,Academy of Innovative Technology(BN),Mitigated,Off-Site,No,Full-Time,N,N,N,DOE,No Restraints,N,None,NaN,NaN,NaN
20,Academy of Innovative Technology(BN),Mitigated,Off-Site,No,Full-Time,N,N,N,DOE,No Restraints,N,None,NaN,NaN,NaN
21,ACADEMY OF URBAN PLANNING(BN),Juvenile Report,On-Site,No,Full-Time,Y,N,Y,SSA,No Restraints,N,None,NaN,NaN,Unk
22,ACADEMY OF URBAN PLANNING(BN),Mitigated,On-Site,No,Full-Time,Y,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN
23,ACADEMY OF URBAN PLANNING(BN),Mitigated,On-Site,No,Full-Time,N,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN
24,ACADEMY OF URBAN PLANNING(BN),Mitigated,On-Site,No,Full-Time,N,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN
25,ACADEMY OF URBAN PLANNING(BN),Mitigated,On-Site,No,Full-Time,N,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN
26,ACADEMY OF URBAN PLANNING(BN),Mitigated,On-Site,No,Full-Time,N,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN
27,ACADEMY OF URBAN PLANNING(BN),Mitigated,On-Site,No,Full-Time,N,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN
28,ACADEMY OF URBAN PLANNING(BN),Mitigated,On-Site,No,Full-Time,N,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN
29,ACADEMY OF URBAN PLANNING(BN),Mitigated,On-Site,No,Full-Time,N,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3271,WILLIAM H. TAFT HIGH SCHOOL(Bronx),Child in Crisis,On-Site,No,Full-Time,N,Y,Y,NaN,No Restraints,N,None,NaN,NaN,NaN
3272,WILLIAM H. TAFT HIGH SCHOOL(Bronx),Juvenile Report,On-Site,No,Full-Time,Y,Y,Y,SSA,Metal,N,None,NaN,NaN,Unk
3273,WILLIAM H. TAFT HIGH SCHOOL(Bronx),Juvenile Report,On-Site,No,Full-Time,Y,Y,Y,SSA,Metal,N,None,NaN,NaN,M
3274,WILLIAM H. TAFT HIGH SCHOOL(Bronx),Juvenile Report,On-Site,No,Full-Time,N,Y,Y,PATROL,Metal,N,None,NaN,NaN,Unk
3275,WILLIAM H. TAFT HIGH SCHOOL(Bronx),Juvenile Report,On-Site,No,Full-Time,N,Y,Y,PATROL,Metal,N,None,NaN,NaN,M
3276,WILLIAM H. TAFT HIGH SCHOOL(Bronx),Juvenile Report,On-Site,No,Full-Time,N,Y,Y,PATROL,Metal,N,None,NaN,NaN,Unk
3277,WILLIAM H. TAFT HIGH SCHOOL(Bronx),Juvenile Report,On-Site,No,Full-Time,N,Y,Y,SSA,Metal,N,None,NaN,NaN,V
3278,WILLIAM H. TAFT HIGH SCHOOL(Bronx),Juvenile Report,On-Site,No,Full-Time,N,Y,Y,PATROL,No Restraints,N,None,NaN,NaN,Unk
3279,WILLIAM H. TAFT HIGH SCHOOL(Bronx),Mitigated,On-Site,No,Full-Time,N,Y,Y,SSA,Metal,N,None,NaN,NaN,NaN
3280,WILLIAM H. TAFT HIGH SCHOOL(Bronx),Mitigated,On-Site,No,Full-Time,Y,Y,Y,SSA,Metal,N,None,NaN,NaN,NaN
3281,WILLIAM H. TAFT HIGH SCHOOL(Bronx),Mitigated,On-Site,No,Full-Time,Y,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN
3282,WILLIAM H. TAFT HIGH SCHOOL(Bronx),Mitigated,On-Site,No,Full-Time,N,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN
3283,WILLIAM H. TAFT HIGH SCHOOL(Bronx),Mitigated,On-Site,No,Full-Time,N,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN
3284,WILLIAM H. TAFT HIGH SCHOOL(Bronx),Summons,On-Site,No,Full-Time,N,Y,Y,PATROL,Metal,N,None,NaN,HARASSMENT,V
3285,WILLIAM H. TAFT HIGH SCHOOL(Bronx),Summons,On-Site,No,Full-Time,N,Y,Y,PATROL,Metal,N,None,NaN,DISORDERLY CONDUCT,V
3286,WILLIAM H. TAFT HIGH SCHOOL(Bronx),Summons,On-Site,No,Full-Time,Y,Y,Y,UTF,No Restraints,N,None,NaN,BOX CUTTER,V
3287,WILLIAM H. TAFT HIGH SCHOOL(Bronx),Summons,On-Site,No,Full-Time,N,Y,Y,UTF,No Restraints,N,None,NaN,DISCON: FIGHTING,V
3288,WILLIAM H. TAFT HIGH SCHOOL(Bronx),Summons,On-Site,No,Full-Time,N,Y,Y,UTF,No Restraints,N,None,NaN,DISCON: FIGHTING,V
3289,WILLIAM H. TAFT HIGH SCHOOL(Bronx),Summons,On-Site,No,Full-Time,N,Y,Y,UTF,No Restraints,N,None,NaN,DISCON: FIGHTING,V
3290,WILLIAM H. TAFT HIGH SCHOOL(Bronx),Summons,On-Site,No,Full-Time,N,Y,Y,UTF,No Restraints,N,None,NaN,DISCON: FIGHTING,V
3291,WILLIAM H. TAFT HIGH SCHOOL(Bronx),Summons,On-Site,No,Full-Time,N,Y,Y,UTF,No Restraints,N,None,NaN,DISCON: FIGHTING,V
3292,WILLIAMSBURG HS FOR ARCHITECTURE & DESIGN(Broo...,Child in Crisis,On-Site,No,Non-Scanning,N,Y,Y,NaN,No Restraints,N,None,NaN,NaN,NaN
3293,WILLIAMSBURG HS FOR ARCHITECTURE & DESIGN(Broo...,Mitigated,On-Site,No,Full-Time,N,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN
3294,WILLIAMSBURG HS FOR ARCHITECTURE & DESIGN(Broo...,Mitigated,On-Site,No,Full-Time,N,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN
3295,WINGS ACADEMY(Bronx),Juvenile Report,On-Site,No,Unannounced,Y,Y,Y,SSA,No Restraints,N,None,NaN,NaN,M
3296,WINGS ACADEMY(Bronx),Mitigated,On-Site,No,Non-Scanning,N,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN
3297,WINGS ACADEMY(Bronx),Mitigated,On-Site,No,Non-Scanning,N,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN
3298,WORLD ACADEMY FOR TOTAL COMMUNITY HEALTH HS-WA...,Mitigated,On-Site,No,Full-Time,N,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN
3299,WORLD ACADEMY FOR TOTAL COMMUNITY HEALTH HS-WA...,Mitigated,On-Site,No,Full-Time,N,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN
3300,Young Women Leadership School Astoria(Queens),Mitigated,On-Site,No,Non-Scanning,N,Y,Y,DOE,No Restraints,N,None,NaN,NaN,NaN

In [4]:
# Make sure Each Data set has same names
SafetyQ12016.rename(columns={' Arrest Top Charge':'TopCharge'}, inplace=True)
SafetyQ22016.rename(columns={'Arrest Top Charge':'TopCharge'}, inplace=True)
SafetyQ32016.rename(columns={'Top Charge':'TopCharge'}, inplace=True)
SafetyQ42016.rename(columns={'Top Charge':'TopCharge'}, inplace=True)
SafetyQ12017.rename(columns={'Top Charge':'TopCharge'}, inplace=True)
SafetyQ22017.rename(columns={'Top Charge':'TopCharge'}, inplace=True)
SafetyQ32017.rename(columns={'Top Charge':'TopCharge'}, inplace=True)

In [5]:
# Group Data into neat columns
SafetyGroupQ12016 = SafetyQ12016.groupby(('School Campus','Intervention Type'))['Incident Location'].count().reset_index()
SafetyGroupQ22016 = SafetyQ22016.groupby(('School Campus','Intervention Type'))['Incident Location'].count().reset_index()
SafetyGroupQ32016 = SafetyQ32016.groupby(('School Campus','Intervention Type'))['Incident Location'].count().reset_index()
SafetyGroupQ42016 = SafetyQ42016.groupby(('School Campus','Intervention Type'))['Incident Location'].count().reset_index()
SafetyGroupQ12017 = SafetyQ12017.groupby(('School Campus','Intervention Type'))['Incident Location'].count().reset_index()
SafetyGroupQ22017 = SafetyQ22017.groupby(('School Campus','Intervention Type'))['Incident Location'].count().reset_index()
SafetyGroupQ32017 = SafetyQ32017.groupby(('School Campus','Intervention Type'))['Incident Location'].count().reset_index()

# Merge Data Sets for years
SafetyGroup2016 = pd.concat([SafetyGroupQ12016, SafetyGroupQ22016, SafetyGroupQ32016, SafetyGroupQ42016]).reset_index()
SafetyGroup2017 = pd.concat([SafetyGroupQ12017, SafetyGroupQ22017, SafetyGroupQ32017]).reset_index()

# Regroup
SafetyGroup2016 = SafetyGroup2016.groupby(('School Campus','Intervention Type'))['Incident Location'].sum().reset_index()
SafetyGroup2017 = SafetyGroup2017.groupby(('School Campus','Intervention Type'))['Incident Location'].sum().reset_index()

In [6]:
# Pivot Data by intervention Type
SafetyPivot2016 = SafetyGroup2016.pivot(index='School Campus', columns='Intervention Type', values='Incident Location')
SafetyPivot2017 = SafetyGroup2017.pivot(index='School Campus', columns='Intervention Type', values='Incident Location')

In [7]:
# Add Total Columns
SafetyPivot2016['Total'] = SafetyPivot2016.sum(axis=1).values
SafetyPivot2017['Total'] = SafetyPivot2017.sum(axis=1).values

In [8]:
SafetyPivot2017.head()

Intervention Type,Arrested,Child in Crisis,Juvenile Report,Mitigated,PINS / Warrant,Summons,mitigated,Total
School Campus,,,,,,,,
47 THE AMERICAN SIGN LANGUAGE & ENGLISH SECONDARY SCHOOL(MS),NaN,3.0,NaN,NaN,NaN,1.0,NaN,4.0
ACADEMY FOR SCHOLARSHIP & ENTREPRENEURSHIP(XE),NaN,1.0,1.0,NaN,NaN,NaN,NaN,2.0
ACADEMY OF ENVIRONMENTAL SCIENCE SECONDARY HS(MN),NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0
ACADEMY OF URBAN PLANNING(BN),NaN,NaN,1.0,12.0,NaN,NaN,1.0,14.0
ACORN COMMUNITY HS(BN),NaN,2.0,1.0,3.0,NaN,1.0,2.0,9.0

In [9]:
# Merge data sets, need to still be relabelled
pd.merge(SafetyPivot2016.reset_index(), 
         SafetyPivot2017.reset_index(), 
         on="School Campus", how="outer")

Intervention Type,School Campus,Arrested_x,Child in Crisis_x,Juvenile Report_x,Mitigated_x,PINS / Warrant_x,PINS Warrant,Summons_x,Total_x,Arrested_y,Child in Crisis_y,Juvenile Report_y,Mitigated_y,PINS / Warrant_y,Summons_y,mitigated,Total_y
0,47 THE AMERICAN SIGN LANGUAGE & ENGLISH SECOND...,NaN,NaN,1.0,1.0,NaN,NaN,NaN,2.0,NaN,3.0,NaN,NaN,NaN,1.0,NaN,4.0
1,ACADEMY OF AMERICAN STUDIES(QN),NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ACADEMY OF URBAN PLANNING(BN),NaN,NaN,NaN,2.0,1.0,NaN,3.0,6.0,NaN,NaN,1.0,12.0,NaN,NaN,1.0,14.0
3,ACHIEVEMENT FIRST CROWN HEIGHTS CHARTER SCHOOL...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ACORN COMMUNITY HS(BN),1.0,NaN,1.0,6.0,NaN,NaN,1.0,9.0,NaN,2.0,1.0,3.0,NaN,1.0,2.0,9.0
5,ACORN HS FOR SOCIAL JUSTICE(BN),NaN,NaN,1.0,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ADLAI STEVENSON HS GED(XE),NaN,1.0,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0
7,ALC - August Martin HS@A. Martin HS (QS),1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,2.0
8,ALC-JAMAICA ACADEMY@ALC-Complex (Old PS 182Q -...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,2.0
9,ALC-Royal 180 Academy@ALC-Complex(Old PS182Q-Qns),1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,ALFRED SMITH CAREER & TECHNICAL EDUCATION HS(X...,4.0,3.0,NaN,1.0,NaN,NaN,NaN,8.0,NaN,1.0,3.0,1.0,NaN,1.0,NaN,6.0
11,ALTERNATE LEARNING CENTER RENAISSANCE CENTER(BN),1.0,1.0,4.0,1.0,NaN,NaN,NaN,7.0,NaN,2.0,4.0,4.0,NaN,NaN,NaN,10.0
12,AP RANDOLPH CAMPUS HS(MN),5.0,1.0,2.0,1.0,NaN,NaN,1.0,10.0,3.0,7.0,2.0,3.0,NaN,1.0,NaN,16.0
13,ART & DESIGN HS @PS 59M(MS),NaN,1.0,1.0,NaN,NaN,NaN,1.0,3.0,2.0,4.0,4.0,NaN,NaN,NaN,NaN,10.0
14,ASTOR COLLEGIATE ACADEMY(XE),2.0,NaN,NaN,NaN,NaN,NaN,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,AUGUST MARTIN HS(QS),8.0,2.0,1.0,10.0,NaN,NaN,4.0,25.0,3.0,10.0,NaN,15.0,NaN,7.0,2.0,37.0
16,AUTOMOTIVE HS(BN),2.0,1.0,2.0,6.0,NaN,NaN,8.0,19.0,1.0,1.0,NaN,6.0,NaN,1.0,1.0,10.0
17,AUXILIARY SERVICES@SAINT GEORGE DAY(SI),2.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,3.0
18,AVIATION CAREER & TECHNICAL EDUCATION HS(QN),NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,3.0,2.0,NaN,NaN,NaN,NaN,1.0,6.0
19,Abraham Lincoln HS(BS),10.0,2.0,2.0,4.0,NaN,NaN,1.0,19.0,5.0,4.0,2.0,2.0,1.0,2.0,3.0,19.0
20,Academy for Careers in Television and Film(QN),NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Academy for Conservation & the Environment(BS),NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Academy for Environmental Leadership(BN),NaN,NaN,2.0,8.0,NaN,NaN,3.0,13.0,NaN,NaN,1.0,2.0,NaN,3.0,2.0,8.0
23,Academy for Health Careers(BN),NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,1.0,NaN,NaN,NaN,NaN,2.0,NaN,3.0
24,Academy for Social Action(MN),1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
25,Academy for Software Engineering(MS),2.0,NaN,NaN,NaN,NaN,NaN,2.0,4.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0
26,Academy for Young Writers(BN),1.0,1.0,NaN,2.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0
27,Academy of Innovative Technology(BN),NaN,1.0,NaN,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,4.0,NaN,2.0,2.0,8.0
28,Academy of Medical Technology(QS),1.0,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1.0,NaN,NaN,NaN,NaN,2.0,NaN,3.0
29,Accion Academy(XW),NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1398,Success Academy Charter School - Bed-Stuy 1(BN),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,2.0
1399,Success Academy Charter School - Bergen Beach(BS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,2.0
1400,Success Academy Charter School - Bronx 2(XE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0
1401,Success Academy Charter School - Bronx 4 - New...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0
1402,Success Academy Charter School - Harlem 1(MN),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,4.0
1403,Success Academy Charter School - Harlem 3(MN),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0
1404,Success Academy Charter School - Harlem 5(MN),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0
1405,Success Academy High School of the Liberal Art...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0
1406,Sunset Park Prep(Brooklyn),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0
1407,THE FORWARD SCHOOL(Bronx),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,2.0
1408,THE JAMES BALDWIN SCHOOL:A SCHOOL FOR EXPEDITI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0
1409,THE SCHOOL FOR HUMAN RIGHTS(Brooklyn),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0
1410,THE URBAN ASSEMBLY ACADEMY OF GOVERNMENT & LAW...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0
1411,THE URBAN ASSEMBLY SCHOOL OF DESIGN & CONSTRUC...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0
1412,THURGOOD MARSHALL ACADEMY LOWER SCHOOL(Manhatt...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0
1413,The Emerson School(QS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0
1414,The Highbridge Green School(XW),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,1.0,4.0
1415,The Opportunity Charter School(MN),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
1416,The Urban Assembly Institute for New Technolog...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0
1417,Uncommon Charter HS(BS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0
1418,Unity Center for Urban Technologies(MS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0
1419,University Neighborhood Middle School(Manhattan),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,NaN,NaN,1.0,5.0
1420,VOYAGES Preparatory(QN),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0
1421,Village Academy(Queens),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0
1422,Voyages Prep South Queens(QS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,5.0,7.0
1423,WILLIAMSBURG COLLEGIATE CHARTER SCHOOL(Brooklyn),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
1424,WORLD ACADEMY FOR TOTAL COMMUNITY HEALTH HS-WA...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2.0,NaN,NaN,5.0,8.0
1425,World Journalism Preparatory:A College Board S...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
1426,Yorkville Community School (Manhattan),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0
1427,Young Women Leadership School Astoria(Queens),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,2.0

In [34]:
# Convert to Csv for processing
SafetyPivot2016.to_csv("data/SafetyStats2016.csv")
SafetyPivot2017.to_csv("data/SafetyStats2017.csv")

# Other Safety Number

In [10]:
# Create data folder
os.system("mkdir data")

# Download Data
!curl https://data.cityofnewyork.us/api/views/qybk-bjjc/rows.csv?accessType=DOWNLOAD > data/SafetyStats2010_2016.csv  
# No data before 2013
# link to data dictionary
# https://data.cityofnewyork.us/api/views/qybk-bjjc/files/d7ff6a2c-1706-48b3-922f-be57d4e066f7?download=true&filename=2015-16%20School%20Safety%20Report%20Data%20Dictionary.xlsx

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 2174k    0 2174k    0     0  2174k      0 --:--:-- --:--:-- --:--:-- 2318k
100 2471k    0 2471k    0     0  2471k      0 --:--:--  0:00:01 --:--:-- 2432k

In [11]:
# Read Data
Safety13_16 = pd.read_csv('data/SafetyStats2010_2016.csv')

# Check columns
Safety13_16.columns

Index([u'School Year', u'Building Code', u'DBN', u'Location Name',
       u'Location Code', u'Address', u'Borough', u'Geographical District Code',
       u'Register', u'Building Name', u'# Schools', u'Schools in Building',
       u'Major N', u'Oth N', u'NoCrim N', u'Prop N', u'Vio N', u'ENGroupA',
       u'RangeA', u'AvgOfMajor N', u'AvgOfOth N', u'AvgOfNoCrim N',
       u'AvgOfProp N', u'AvgOfVio N', u'Borough Name', u'Postcode',
       u'Latitude', u'Longitude', u'Community Board', u'Council District ',
       u'Census Tract', u'BIN', u'BBL', u'NTA'],
      dtype='object')

In [12]:
# Sort Data
Safety13_16 = Safety13_16[['School Year', 'Building Code', 'DBN', 
                           'Location Name','Location Code',
                           'Major N', 'Oth N', 'NoCrim N', 
                           'Prop N', 'Vio N']]

# CReate total column
Safety13_16['TotalCrimes'] = Safety13_16[['Major N','Oth N',
                                          'NoCrim N','Prop N',
                                          'Vio N']].sum(axis=1)

# Check unique years
Safety13_16['School Year'].unique()

array(['2013-14', '2014-15', '2015-16'], dtype=object)

In [13]:
Safety13_16.head()

,School Year,Building Code,DBN,Location Name,Location Code,Major N,Oth N,NoCrim N,Prop N,Vio N,TotalCrimes
0,2013-14,K001,15K001,P.S. 001 The Bergen,K001,0.0,2.0,1.0,1.0,0.0,4.0
1,2013-14,K002,17K002,Parkside Preparatory Academy,K002,NaN,NaN,NaN,NaN,NaN,0.0
2,2013-14,K002,75K141,P.S. K141,K141,NaN,NaN,NaN,NaN,NaN,0.0
3,2013-14,K002,84K704,Explore Charter School,K704,NaN,NaN,NaN,NaN,NaN,0.0
4,2013-14,K002,NaN,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,NaN,1.0,5.0,2.0,2.0,4.0,14.0

In [90]:
Safety13_16.to_csv("data/SafetyStats2013-2016.csv")

In [16]:
# Download Data
!curl https://data.cityofnewyork.us/api/views/qgea-i56i/rows.csv?accessType=DOWNLOAD > data/NYPD_Complaint_Data_Historic.csv

The process cannot access the file because it is being used by another process.

In [17]:
Safety3 = pd.read_csv('data/NYPD_Complaint_Data_Historic.csv')

C:\Users\Andrew\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
Safety3.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,ADDR_PCT_CD,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,667475431,12/30/2015,20:48:00,12/31/2015,11:29:00,12/31/2015,107,BURGLARY,213,"BURGLARY,COMMERCIAL,NIGHT",...,40,INSIDE,PRIVATE/PAROCHIAL SCHOOL,NaN,NaN,1006699.0,233128.0,40.806538,-73.918911,"(40.806538101, -73.918910596)"
1,938267555,12/29/2015,13:00:00,12/29/2015,13:01:00,12/30/2015,361,OFF. AGNST PUB ORD SENSBLTY &,639,AGGRAVATED HARASSMENT 2,...,112,INSIDE,PUBLIC SCHOOL,NaN,NaN,1025286.0,202643.0,40.722798,-73.851956,"(40.722797981, -73.851956357)"
2,178705935,12/28/2015,12:00:00,12/28/2015,18:30:00,12/29/2015,109,GRAND LARCENY,403,"LARCENY,GRAND BY BANK ACCT COMPROMISE-REPRODUC...",...,24,INSIDE,PUBLIC SCHOOL,NaN,NaN,992460.0,227653.0,40.791535,-73.970352,"(40.791535421, -73.970351765)"
3,601105377,12/22/2015,13:25:00,12/22/2015,13:25:00,12/29/2015,109,GRAND LARCENY,438,"LARCENY,GRAND FROM BUILDING (NON-RESIDENCE) UN...",...,104,INSIDE,PRIVATE/PAROCHIAL SCHOOL,NaN,NaN,1015418.0,198786.0,40.712252,-73.887575,"(40.71225172, -73.887574836)"
4,427817978,12/15/2015,14:35:00,NaN,NaN,12/22/2015,578,HARRASSMENT 2,638,"HARASSMENT,SUBD 3,4,5",...,20,INSIDE,PUBLIC SCHOOL,NaN,NaN,988503.0,221442.0,40.774491,-73.984646,"(40.774490663, -73.984646049)"

In [ ]:
# No schools identified, Could match with Location coords

# School Class Size
### Can we get this from attendance data?

In [56]:
ClassSize2018 = pd.read_excel("http://schools.nyc.gov/NR/rdonlyres/32A4D266-83DB-439D-AE73-EDD1BC23E9AD/0/February2018_Avg_ClassSize_School.xlsx",header=7)
ClassSize2017 = pd.read_excel("http://schools.nyc.gov/NR/rdonlyres/11A3268A-AA1B-4475-BA79-A9D52883DC08/0/February2017_Avg_ClassSize_School.xlsx",header=7)
ClassSize2016 = pd.read_excel("http://schools.nyc.gov/NR/rdonlyres/3B90A8E1-5B32-4B86-9BB3-4FCFC30A8182/0/February2016_Avg_ClassSize_School.xlsx",header=6)
ClassSize2015 = pd.read_excel("http://schools.nyc.gov/NR/rdonlyres/5EC03778-74AD-45FF-9951-44441AE570F2/0/SchoolLevelDetailSummary_Updated_2015.xlsx",header=10)
ClassSize2014 = pd.read_excel("http://schools.nyc.gov/offices/d_chanc_oper/budget/dbor/DBOR_CLASS_SIZE/FY14_Data/Updated_School_level_Detail_Summary_2014_02_13.xlsx",header=10)
ClassSize2013 = pd.read_excel("http://schools.nyc.gov/offices/d_chanc_oper/budget/dbor/DBOR_CLASS_SIZE/FY13_Data/20122013UpdatedSchoolLevelDetailFinal%202012_12_14.xlsx",header=10)
ClassSize2012 = pd.read_excel("http://schools.nyc.gov/offices/d_chanc_oper/budget/dbor/DBOR_CLASS_SIZE/FY12_Data/Updated_School_Level_Detail_21512.xls",header=10)
ClassSize2011 = pd.read_excel("http://schools.nyc.gov/NR/rdonlyres/5E4CE3DD-739E-4DEF-86CF-AEBFD87715BB/0/20102011PreliminarySchoolLevelDetail.xls",header=10)
ClassSize2010 = pd.read_excel("http://schools.nyc.gov/NR/rdonlyres/B887E47A-30EB-4D80-A5DA-46946B67C239/0/20102011UpdatedSchoolLevelDetail.xls",header=10)
# ClassSize2009 = pd.read_excel("")
# ClassSize2008 = pd.read_excel("")
# ClassSize2007 = pd.read_excel("")
# ClassSize2006 = pd.read_excel("")

In [57]:
list(ClassSize2018.DBN.unique())

[u'01M015',
 u'01M019',
 u'01M020',
 u'01M034',
 u'01M063',
 u'01M064',
 u'01M110',
 u'01M134',
 u'01M140',
 u'01M142',
 u'01M184',
 u'01M188',
 u'01M301',
 u'01M315',
 u'01M332',
 u'01M361',
 u'01M363',
 u'01M364',
 u'01M378',
 u'01M450',
 u'01M539',
 u'01M839',
 u'02M001',
 u'02M002',
 u'02M003',
 u'02M006',
 u'02M011',
 u'02M033',
 u'02M040',
 u'02M041',
 u'02M042',
 u'02M051',
 u'02M059',
 u'02M077',
 u'02M089',
 u'02M104',
 u'02M111',
 u'02M114',
 u'02M116',
 u'02M124',
 u'02M126',
 u'02M130',
 u'02M131',
 u'02M150',
 u'02M151',
 u'02M158',
 u'02M167',
 u'02M177',
 u'02M183',
 u'02M198',
 u'02M212',
 u'02M217',
 u'02M225',
 u'02M234',
 u'02M255',
 u'02M260',
 u'02M267',
 u'02M276',
 u'02M281',
 u'02M289',
 u'02M290',
 u'02M297',
 u'02M312',
 u'02M340',
 u'02M343',
 u'02M347',
 u'02M397',
 u'02M407',
 u'02M408',
 u'02M413',
 u'02M422',
 u'02M442',
 u'02M527',
 u'02M655',
 u'02M896',
 u'02M933',
 u'03M009',
 u'03M054',
 u'03M075',
 u'03M076',
 u'03M084',
 u'03M087',
 u'03M145',
 u'03M149',
 u'03M163',
 u'03M165',
 u'03M166',
 u'03M180',
 u'03M185',
 u'03M191',
 u'03M199',
 u'03M208',
 u'03M241',
 u'03M242',
 u'03M243',
 u'03M245',
 u'03M247',
 u'03M250',
 u'03M256',
 u'03M258',
 u'03M291',
 u'03M333',
 u'03M334',
 u'03M415',
 u'03M421',
 u'03M452',
 u'03M859',
 u'03M860',
 u'03M862',
 u'04M007',
 u'04M012',
 u'04M037',
 u'04M038',
 u'04M050',
 u'04M057',
 u'04M072',
 u'04M083',
 u'04M096',
 u'04M102',
 u'04M108',
 u'04M112',
 u'04M146',
 u'04M155',
 u'04M171',
 u'04M182',
 u'04M206',
 u'04M224',
 u'04M372',
 u'04M375',
 u'04M377',
 u'04M406',
 u'04M610',
 u'04M825',
 u'04M964',
 u'05M030',
 u'05M036',
 u'05M046',
 u'05M092',
 u'05M123',
 u'05M125',
 u'05M129',
 u'05M133',
 u'05M148',
 u'05M154',
 u'05M161',
 u'05M175',
 u'05M194',
 u'05M197',
 u'05M200',
 u'05M286',
 u'05M302',
 u'05M318',
 u'05M362',
 u'05M499',
 u'05M514',
 u'05M517',
 u'05M670',
 u'06M004',
 u'06M005',
 u'06M008',
 u'06M018',
 u'06M028',
 u'06M048',
 u'06M052',
 u'06M098',
 u'06M103',
 u'06M115',
 u'06M128',
 u'06M132',
 u'06M143',
 u'06M152',
 u'06M153',
 u'06M173',
 u'06M178',
 u'06M187',
 u'06M189',
 u'06M192',
 u'06M209',
 u'06M210',
 u'06M218',
 u'06M223',
 u'06M278',
 u'06M293',
 u'06M311',
 u'06M314',
 u'06M319',
 u'06M322',
 u'06M324',
 u'06M328',
 u'06M346',
 u'06M348',
 u'06M349',
 u'06M366',
 u'06M368',
 u'06M528',
 u'07X001',
 u'07X005',
 u'07X018',
 u'07X025',
 u'07X029',
 u'07X030',
 u'07X031',
 u'07X043',
 u'07X049',
 u'07X065',
 u'07X151',
 u'07X154',
 u'07X157',
 u'07X161',
 u'07X179',
 u'07X221',
 u'07X223',
 u'07X224',
 u'07X277',
 u'07X296',
 u'07X298',
 u'07X343',
 u'07X359',
 u'07X369',
 u'07X500',
 u'07X551',
 u'07X584',
 u'08X014',
 u'08X036',
 u'08X048',
 u'08X062',
 u'08X069',
 u'08X071',
 u'08X072',
 u'08X075',
 u'08X093',
 u'08X100',
 u'08X101',
 u'08X107',
 u'08X119',
 u'08X123',
 u'08X125',
 u'08X130',
 u'08X131',
 u'08X138',
 u'08X140',
 u'08X146',
 u'08X152',
 u'08X182',
 u'08X269',
 u'08X301',
 u'08X302',
 u'08X304',
 u'08X333',
 u'08X337',
 u'08X367',
 u'08X371',
 u'08X375',
 u'08X376',
 u'08X392',
 u'08X424',
 u'08X448',
 u'08X467',
 u'08X562',
 u'08X583',
 u'09X004',
 u'09X011',
 u'09X022',
 u'09X028',
 u'09X035',
 u'09X042',
 u'09X053',
 u'09X055',
 u'09X058',
 u'09X063',
 u'09X070',
 u'09X073',
 u'09X088',
 u'09X109',
 u'09X110',
 u'09X114',
 u'09X117',
 u'09X126',
 u'09X128',
 u'09X132',
 u'09X163',
 u'09X170',
 u'09X199',
 u'09X204',
 u'09X215',
 u'09X218',
 u'09X219',
 u'09X229',
 u'09X231',
 u'09X232',
 u'09X236',
 u'09X241',
 u'09X274',
 u'09X294',
 u'09X303',
 u'09X311',
 u'09X313',
 u'09X323',
 u'09X324',
 u'09X325',
 u'09X327',
 u'09X328',
 u'09X339',
 u'09X350',
 u'09X361',
 u'09X413',
 u'09X443',
 u'09X449',
 u'09X454',
 u'09X457',
 u'09X505',
 u'09X555',
 u'09X568',
 u'10X003',
 u'10X007',
 u'10X008',
 u'10X009',
 u'10X015',
 u'10X020',
 u'10X023',
 u'10X024',
 u'10X032',
 u'10X033',
 u'10X037',
 u'10X045',
 u'10X046',
 u'10X051',
 u'10X054',
 u'10X056',
 u'10X059',
 u'10X077',
 u'10X080',
 u'10X081',
 u'10X085',
 u'10X086',
 u'10X091',
 u'10X094',
 u'10X095',
 u'10X118',
 u'10X141',
 u'10X159',
 u'10X205',
 u'10X206',
 u'10X207',
 u'10X209',
 u'10X225',
 u'10X226',
 u'10X228',
 u'10X243',
 u'10X244',
 u'10X246',
 u'10X254',
 u'10X279',
 u'10X280',
 u'10X291',
 u'10X306',
 u'10X307',
 u'10X308',
 u'10X310',
 u'10X315',
 u'10X331',
 u'10X340',
 u'10X342',
 u'10X344',
 u'10X360',
 u'10X363',
 u'10X368',
 u'10X382',
 u'10X386',
 u'10X390',
 u'10X391',
 u'10X396',
 u'10X447',
 u'10X459',
 u'11X016',
 u'11X019',
 u'11X021',
 u'11X041',
 u'11X068',
 u'11X076',
 u'11X078',
 u'11X083',
 u'11X087',
 u'11X089',
 u'11X096',
 u'11X097',
 u'11X103',
 u'11X105',
 u'11X106',
 u'11X108',
 u'11X111',
 u'11X112',
 u'11X121',
 u'11X127',
 u'11X144',
 u'11X153',
 u'11X160',
 u'11X169',
 u'11X175',
 u'11X178',
 u'11X180',
 u'11X181',
 u'11X189',
 u'11X194',
 u'11X287',
 u'11X326',
 u'11X355',
 u'11X357',
 u'11X370',
 u'11X462',
 u'11X468',
 u'11X481',
 u'11X483',
 u'11X498',
 u'11X529',
 u'11X532',
 u'11X556',
 u'11X566',
 u'11X567',
 u'12X006',
 u'12X044',
 u'12X047',
 u'12X057',
 u'12X061',
 u'12X066',
 u'12X067',
 u'12X092',
 u'12X098',
 u'12X129',
 u'12X134',
 u'12X150',
 u'12X190',
 u'12X195',
 u'12X196',
 u'12X211',
 u'12X212',
 u'12X214',
 u'12X217',
 u'12X242',
 u'12X267',
 u'12X271',
 u'12X273',
 u'12X286',
 u'12X300',
 u'12X314',
 u'12X316',
 u'12X318',
 u'12X341',
 u'12X372',
 u'12X383',
 u'12X384',
 u'12X458',
 u'12X463',
 u'12X531',
 u'12X536',
 u'12X691',
 u'13K003',
 u'13K008',
 u'13K009',
 u'13K011',
 u'13K020',
 u'13K044',
 u'13K046',
 u'13K054',
 u'13K056',
 u'13K067',
 u'13K093',
 u'13K113',
 u'13K133',
 u'13K256',
 u'13K265',
 u'13K266',
 u'13K270',
 u'13K282',
 u'13K287',
 u'13K301',
 u'13K305',
 u'13K307',
 u'13K313',
 u'13K351',
 u'13K492',
 u'13K527',
 u'13K691',
 u'14K016',
 u'14K017',
 u'14K018',
 u'14K023',
 u'14K031',
 u'14K034',
 u'14K050',
 u'14K059',
 u'14K071',
 u'14K084',
 u'14K110',
 u'14K120',
 u'14K126',
 u'14K132',
 u'14K147',
 u'14K157',
 u'14K196',
 u'14K250',
 u'14K257',
 u'14K297',
 u'14K318',
 u'14K319',
 u'14K380',
 u'14K414',
 u'14K577',
 u'14K582',
 u'14K586',
 u'14K614',
 u'15K001',
 u'15K010',
 u'15K015',
 u'15K024',
 u'15K029',
 u'15K032',
 u'15K038',
 u'15K039',
 u'15K051',
 u'15K058',
 u'15K088',
 u'15K094',
 u'15K107',
 u'15K118',
 u'15K124',
 u'15K130',
 u'15K131',
 u'15K136',
 u'15K146',
 u'15K154',
 u'15K169',
 u'15K172',
 u'15K230',
 u'15K261',
 u'15K295',
 u'15K321',
 u'15K418',
 u'15K442',
 u'15K443',
 u'15K447',
 u'15K448',
 u'15K464',
 u'15K497',
 u'15K516',
 u'15K676',
 u'15K821',
 u'15K839',
 u'16K005',
 u'16K021',
 u'16K025',
 u'16K026',
 u'16K028',
 u'16K035',
 u'16K040',
 u'16K057',
 u'16K081',
 u'16K243',
 u'16K262',
 u'16K267',
 u'16K308',
 u'16K309',
 u'16K335',
 u'16K627',
 u'16K628',
 u'16K681',
 u'17K002',
 u'17K006',
 u'17K012',
 u'17K061',
 u'17K091',
 u'17K092',
 u'17K138',
 u'17K161',
 u'17K181',
 u'17K189',
 u'17K191',
 u'17K221',
 u'17K241',
 u'17K246',
 u'17K249',
 u'17K289',
 u'17K316',
 u'17K340',
 u'17K352',
 u'17K353',
 u'17K354',
 u'17K375',
 u'17K382',
 u'17K394',
 u'17K397',
 u'17K398',
 u'17K399',
 u'17K484',
 u'17K531',
 u'17K532',
 u'17K543',
 u'17K590',
 u'17K705',
 u'17K722',
 u'17K770',
 u'18K066',
 u'18K068',
 u'18K114',
 u'18K115',
 u'18K135',
 u'18K208',
 u'18K211',
 u'18K219',
 u'18K233',
 u'18K235',
 u'18K244',
 u'18K268',
 u'18K272',
 u'18K276',
 u'18K279',
 u'18K285',
 u'18K366',
 u'18K581',
 u'18K588',
 u'18K598',
 u'18K763',
 u'19K007',
 u'19K013',
 u'19K065',
 u'19K089',
 u'19K108',
 u'19K149',
 u'19K158',
 u'19K159',
 u'19K171',
 u'19K190',
 u'19K202',
 u'19K213',
 u'19K214',
 u'19K218',
 u'19K224',
 u'19K273',
 u'19K290',
 u'19K292',
 u'19K306',
 u'19K325',
 u'19K328',
 u'19K345',
 u'19K346',
 u'19K364',
 u'19K404',
 u'19K409',
 u'19K422',
 u'19K452',
 u'19K557',
 u'19K654',
 u'19K661',
 u'19K662',
 u'19K663',
 u'19K677',
 u'19K678',
 u'19K760',
 u'20K030',
 u'20K048',
 u'20K062',
 u'20K069',
 u'20K102',
 u'20K104',
 u'20K105',
 u'20K112',
 u'20K127',
 u'20K160',
 u'20K163',
 u'20K164',
 u'20K170',
 u'20K176',
 u'20K179',
 u'20K180',
 u'20K185',
 u'20K186',
 u'20K187',
 u'20K192',
 u'20K200',
 u'20K201',
 u'20K204',
 u'20K205',
 u'20K220',
 u'20K223',
 u'20K227',
 u'20K229',
 u'20K247',
 u'20K259',
 u'20K264',
 u'20K310',
 u'20K503',
 u'20K506',
 u'20K609',
 u'20K682',
 u'20K686',
 u'20K748',
 u'20K971',
 u'21K090',
 u'21K095',
 u'21K096',
 u'21K097',
 u'21K098',
 u'21K099',
 u'21K100',
 u'21K101',
 u'21K121',
 u'21K128',
 u'21K153',
 u'21K177',
 u'21K188',
 u'21K199',
 u'21K209',
 u'21K212',
 u'21K215',
 u'21K216',
 u'21K225',
 u'21K226',
 u'21K228',
 u'21K238',
 u'21K239',
 u'21K253',
 u'21K281',
 u'21K288',
 u'21K303',
 u'21K329',
 u'21K468',
 u'21K690',
 u'22K014',
 u'22K052',
 u'22K078',
 u'22K109',
 u'22K119',
 u'22K134',
 u'22K139',
 u'22K152',
 u'22K193',
 u'22K194',
 u'22K195',
 u'22K197',
 u'22K198',
 u'22K203',
 u'22K206',
 u'22K207',
 u'22K217',
 u'22K222',
 u'22K234',
 u'22K236',
 u'22K240',
 u'22K245',
 u'22K251',
 u'22K254',
 u'22K255',
 u'22K269',
 u'22K277',
 u'22K278',
 u'22K312',
 u'22K315',
 u'22K326',
 u'22K361',
 u'22K381',
 u'22K889',
 u'22K890',
 u'23K041',
 u'23K137',
 u'23K150',
 u'23K155',
 u'23K156',
 u'23K165',
 u'23K178',
 u'23K184',
 u'23K284',
 u'23K298',
 u'23K323',
 u'23K327',
 u'23K363',
 u'23K392',
 u'23K401',
 u'23K446',
 u'23K518',
 u'23K522',
 u'23K599',
 u'23K644',
 u'23K664',
 u'23K668',
 u'23K671',
 u'23K697',
 u'24Q005',
 u'24Q007',
 u'24Q012',
 u'24Q013',
 u'24Q014',
 u'24Q016',
 u'24Q019',
 u'24Q028',
 u'24Q049',
 u'24Q058',
 u'24Q061',
 u'24Q068',
 u'24Q071',
 u'24Q073',
 u'24Q077',
 u'24Q081',
 u'24Q087',
 u'24Q088',
 u'24Q089',
 u'24Q091',
 u'24Q093',
 u'24Q102',
 u'24Q110',
 u'24Q113',
 u'24Q119',
 u'24Q125',
 u'24Q128',
 u'24Q143',
 u'24Q153',
 u'24Q199',
 u'24Q211',
 u'24Q229',
 u'24Q239',
 u'24Q290',
 u'24Q305',
 u'24Q307',
 u'24Q311',
 u'24Q330',
 u'24Q343',
 u'24Q560',
 u'24Q877',
 u'25Q020',
 u'25Q021',
 u'25Q022',
 u'25Q024',
 u'25Q025',
 u'25Q029',
 u'25Q032',
 u'25Q079',
 u'25Q107',
 u'25Q120',
 u'25Q129',
 u'25Q130',
 u'25Q154',
 u'25Q163',
 u'25Q164',
 u'25Q165',
 u'25Q169',
 u'25Q184',
 u'25Q185',
 u'25Q189',
 u'25Q193',
 u'25Q194',
 u'25Q200',
 u'25Q201',
 u'25Q209',
 u'25Q214',
 u'25Q219',
 u'25Q237',
 u'25Q242',
 u'25Q244',
 u'25Q250',
 u'25Q252',
 u'25Q281',
 u'25Q285',
 u'25Q294',
 u'25Q499',
 u'26Q018',
 u'26Q026',
 u'26Q031',
 u'26Q041',
 u'26Q046',
 u'26Q067',
 u'26Q074',
 u'26Q094',
 u'26Q098',
 u'26Q115',
 u'26Q133',
 u'26Q158',
 u'26Q159',
 u'26Q162',
 u'26Q172',
 u'26Q173',
 u'26Q178',
 u'26Q186',
 u'26Q188',
 u'26Q191',
 u'26Q203',
 u'26Q205',
 u'26Q213',
 u'26Q216',
 u'26Q221',
 u'26Q266',
 u'26Q376',
 u'27Q042',
 u'27Q043',
 u'27Q045',
 u'27Q047',
 u'27Q051',
 u'27Q053',
 u'27Q056',
 u'27Q060',
 u'27Q062',
 u'27Q063',
 u'27Q064',
 u'27Q065',
 u'27Q066',
 u'27Q090',
 u'27Q096',
 u'27Q097',
 u'27Q100',
 u'27Q104',
 u'27Q105',
 u'27Q106',
 u'27Q108',
 u'27Q114',
 u'27Q123',
 u'27Q124',
 u'27Q137',
 u'27Q146',
 u'27Q155',
 u'27Q183',
 u'27Q197',
 u'27Q202',
 u'27Q207',
 u'27Q210',
 u'27Q223',
 u'27Q226',
 u'27Q232',
 u'27Q253',
 u'27Q254',
 u'27Q262',
 u'27Q273',
 u'27Q282',
 u'27Q297',
 u'27Q306',
 u'27Q309',
 u'27Q316',
 u'27Q317',
 u'27Q318',
 u'27Q319',
 u'27Q323',
 u'27Q333',
 u'27Q362',
 u'27Q377',
 u'28Q008',
 u'28Q040',
 u'28Q048',
 u'28Q050',
 u'28Q054',
 u'28Q055',
 u'28Q072',
 u'28Q080',
 u'28Q082',
 u'28Q086',
 u'28Q099',
 u'28Q101',
 u'28Q117',
 u'28Q121',
 u'28Q139',
 u'28Q140',
 u'28Q144',
 u'28Q157',
 u'28Q160',
 u'28Q161',
 u'28Q167',
 u'28Q174',
 u'28Q175',
 u'28Q182',
 u'28Q190',
 u'28Q196',
 u'28Q206',
 u'28Q217',
 u'28Q220',
 u'28Q284',
 u'28Q287',
 u'28Q303',
 u'28Q310',
 u'28Q312',
 u'28Q332',
 u'28Q349',
 u'28Q354',
 u'28Q358',
 u'28Q680',
 u'28Q896',
 u'29Q015',
 u'29Q033',
 u'29Q034',
 u'29Q035',
 u'29Q036',
 u'29Q037',
 u'29Q038',
 u'29Q052',
 u'29Q059',
 u'29Q095',
 u'29Q109',
 u'29Q116',
 u'29Q118',
 u'29Q131',
 u'29Q132',
 u'29Q134',
 u'29Q135',
 u'29Q136',
 u'29Q138',
 ...]

In [59]:
ClassSize2010.head()

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY (K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN

# School Attendance

In [4]:
# Read in data on school attendance
Attend06_09 = pd.read_csv("https://data.cityofnewyork.us/api/views/xwxx-rnki/rows.csv?accessType=DOWNLOAD")
Attend09_12 = pd.read_csv("https://data.cityofnewyork.us/api/views/wpqj-3buw/rows.csv?accessType=DOWNLOAD")
Attend12_17 = pd.read_csv("https://data.cityofnewyork.us/api/views/wed3-5i35/rows.csv?accessType=DOWNLOAD")

#### Try and Visualise data and aggreagate into years

In [5]:
# Visualise and try to aggregate data into years
Attend06_09.head()

   School      Date  SchoolYear  Enrolled  Present  Absent  Released
0  01M015  20060905    20062007       252      226      26         0
1  01M015  20060906    20062007       248      227      21         0
2  01M015  20060907    20062007       245      228      17         0
3  01M015  20060908    20062007       246      226      20         0
4  01M015  20060911    20062007       248      223      25         0

In [14]:
# Visualise and try to aggregate data into years
Attend09_12.head()

   School      Date  SchoolYear  Enrolled  Present  Absent  Released
0  01M015  20090909    20092010       210      174      36         0
1  01M015  20090910    20092010       215      193      22         0
2  01M015  20090911    20092010       213      185      28         0
3  01M015  20090914    20092010       214      199      15         0
4  01M015  20090915    20092010       214      194      20         0

In [15]:
Attend12_17.head()

,School,MonthCode,CalMonth,SchoolYear,GradeLevel,GradeSort,RosterCount,Present,Absent,Released
0,14K257,4,Dec,2012 - 2013,0K,0,106,1456,126,0
1,14K257,4,Dec,2014 - 2015,PK,-1,66,974,148,0
2,14K257,4,Dec,2013 - 2014,PK,-1,53,677,65,53
3,14K257,4,Dec,2016 - 2017,PK,-1,58,860,95,0
4,14K257,4,Dec,2015 - 2016,PK,-1,61,881,95,61

### For 2012 to 2017 we can split into grades to get a finer view

In [54]:
# Create data groups per year
Attend06_09group = Attend06_09.groupby(["School",'SchoolYear'])['Enrolled','Present','Absent','Released'].sum()
Attend09_12group = Attend09_12.groupby(["School",'SchoolYear'])['Enrolled','Present','Absent','Released'].sum()
Attend12_17group = Attend12_17.groupby(["School",'SchoolYear'])['RosterCount','Present','Absent','Released'].sum()

# Merge into 1 dataset
Attendance = pd.concat([Attend06_09group,Attend09_12group,Attend12_17group]).reset_index()

# Create Attendance Percentage for comparison
# Can we compare percentages? Should aggregate over a year right?
Attendance['Percent'] = (100.0 * Attendance.Present / 
                         (Attendance.Present + Attendance.Absent + 
                          Attendance.Released))

# Review data for specific school
Attendance[Attendance['School'] == "14K257"]

,School,SchoolYear,Absent,Enrolled,Present,Released,RosterCount,Percent
2068,14K257,20062007,7359,104379.0,96914,106,NaN,92.848178
2069,14K257,20072008,7079,103707.0,96628,0,NaN,93.174038
2070,14K257,20082009,7746,102562.0,94816,0,NaN,92.447495
6638,14K257,20092010,6243,101483.0,95240,0,NaN,93.848231
6639,14K257,20102011,7007,107728.0,100651,70,NaN,93.430677
6640,14K257,20112012,7313,115859.0,108460,86,NaN,93.613789
12888,14K257,2012 - 2013,6802,NaN,106579,1418,6465.0,92.839659
12889,14K257,2013 - 2014,8336,NaN,110871,917,6706.0,92.297126
12890,14K257,2014 - 2015,8238,NaN,114407,259,6845.0,93.086474
12891,14K257,2015 - 2016,7884,NaN,110530,61,6744.0,93.293944
12892,14K257,2016 - 2017,7756,NaN,107440,158,6650.0,93.139380

In [52]:
Attendance.head()

,School,SchoolYear,Absent,Enrolled,Present,Released,RosterCount,Percent
0,01M015,20062007,4608,46255.0,41647,0,NaN,90.037834
1,01M015,20072008,4596,46543.0,41760,187,NaN,89.723482
2,01M015,20082009,5109,44377.0,39235,33,NaN,88.412917
3,01M019,20062007,5045,57738.0,52613,80,NaN,91.123697
4,01M019,20072008,5477,61613.0,56136,0,NaN,91.110642